<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/post.css')}}">
    <title>Post</title>
</head>
<body>
    <div class="container" >
        <div class="navbar" style="width: 40%;">
            <a href="/home" class="title">Poke talk</a>
                <a href="/home">Home</a >
                <a href="/message_app">message </a> 
                <a href="/create_a_new_post" >Create Post</a>
                <a href="/profile/{{current_user.id}}">Profile</a>
                <a href="/news">News</a>
        </div>
        <div class="header" style="align-items: center;" >
            <form action="/logout" method="Get">
            <button>logout</button>
        </form>
        </div>
    </div>
    <div style="border-style: solid; width: 50%; margin: 0 auto;">
        <h2>Select a file to upload</h2>
        <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %} 
        </ul>
        {% endif %}
        {% endwith %}
        </p>
        {% if filename %}
        <div> 
            <img src="{{ url_for('display_image', filename=filename) }}" style="width: 100px; height: 200px;">
        </div>
        {% endif %} 
    <form method="post" action="/posts" enctype="multipart/form-data">
        <dl>
        <p> 
            <input type="file" name="file" autocomplete="off" required>
            <label for="titleofpost">Title Of Post</label>
            <input type="text" name="titleofpost">
            <input type="hidden" name="user_id" value="{{current_user.id}}">
            <input type="hidden" name="content" value="{{imageurl}}">
            <select name="poke_id" >All Pokemon
                {%for y in all_pokemon%}
                <option value="{{y.id}}">{{y.name}}</option>
                {%endfor%}
            </select>
        </p>
        </dl>
        <p>
        <input type="submit" value="Submit">
        </p>
    </form>
    
    </div>

    <!-- <div>
        <form action="/posts" method="post"> 
            <input type="hidden" name="users_id" value="{{current_user.id}}">
            <label for="titleofpost">Title</label>
        <input type="text" name="titleofpost" >
        <label for="post">post</label>
        <input type="file" name="post">
        <button>Create Post</button>

        </form>
    </div>
    <table class="posts" >
        <h4>All Posts</h4>
        <tbody > 
            {% for chat in all_posts%}
            <tr>
                <p class="info">{{chat.titleofpost}}</p>
                <p class="info"><img src="{{chat.post}}" alt=""></p>
            </tr>
            {%endfor%}
        </tbody>
    </table> -->
    
</body>
</html>