<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/room.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    {%for all in all_chat%}
        <title>{{all.room_name}}</title>
    {%endfor%}
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Poki talk</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/message_app">Messages</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link active" href="/create_a_new_post" >
                        Create Post
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/profile/{{current_user.id}}">Profile</a>
                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/news">news</a>
                        
                    </li>
                </ul>
                <ul class="d-flex" role="search">
                    <form action="/logout" method="GET">
                        <button class="btn btn-primary">logout</button>
                    </form> 
                </ul>
            </div>
        </div>
    </nav>
    <div class="title_box"> 
        <h1 class="title">{{one[0].room_name}}</h1>
    </div>

    <div style="display: flex; margin: 10px; overflow: auto; height: 400px;">
        <div class="member_box">
            <div  class="member_list">
                <p>Member List</p>
                {%for all in all_chat%}
                <p>{{all.first_name}} {{all.last_name}}</p>
                {%endfor%}
            </div>  
        </div>
        <div class="container">
            <table class="messages" >
                <h4>All Messages</h4>
                <tbody > 
                    {% for chat in all_chat%}
                    <tr>
                        <p class="info">{{chat.first_name}} - {{chat.created_at.strftime ("%B %#d %Y")}}</p>
                        <p>{{chat.content}}</p>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <form action="/create_message", method="post" class="form_box">
                <input type="hidden" name="room_id" value="{{one[0].id}}">
                <input type="hidden" name="users_id" value="{{current_user.id}}">
                <div class="press">
                    <div>
                        <label for="message">Message</label>
                        <textarea name="content"  cols="1" rows="1"></textarea>
                    </div>
                    <button>New message</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/messages.js') }}"></script>
</body>
</html>