.title, .title_box, .form_box, .member_list{
    text-align: center;
}
.member_box{
    width: 25%;
    text-align: center;
    border-style: solid;
    margin:10px; 
    border-radius: 5%;
}


.container {
    margin: auto;
    width: 75%;
    padding: 1%;
    border-style: solid;
    margin: 10px;
    border-radius: 5%;
    overflow-x: auto;
}
.press {
    background-color: grey;
    justify-content: space-between;
    display: flex;
    border-radius: 25px;
    align-items: center;
    /* padding: 20px; */
    width: 100%;
}
button {
    background-color: grey;
}
.info{
    font-size: small;
    color: blue;
}