body{
    font-family: montserrat;
    background: linear-gradient(120deg,#F9A12EFF,#9B4A97);
}

.pokibook1{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;

}
.pokibook2{
    border-style: solid; 
}
.pokibook3{
    padding: 10px;
    height: 100%;
    width: 100%;
}